.product-item {
  background: #2c2c2c;
  padding: 1.5rem;
  border-radius: 16px;
  width: 320px;
  height: 500px;
  margin: 1rem auto;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  color: #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.product-item img {
  width: 100%;
  max-width: 260px;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 1rem;
}

.product-title {
  font-size: 1.6rem;
  margin: 0.5rem 0 0.7rem 0;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.product-item p {
  margin: 0.4rem 0;
  color: #ccc;
  font-size: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
